

.menu{
    background-color:#000000;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 0%;
    margin-bottom: 0%;
    opacity: 0.8;
    top: 0%;
    position: sticky;
}

.menu li{
    font-family: 'Kodchasan', sans-serif;
    font-size: 15px;
    margin: 5px;
}
.box{
    display: flex;
    flex-direction: column;
    
}
.box2{
    background-color:#1c1d1d;
    position: absolute;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.image{
    background-image: url("Images/desktop.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 1000px;
    width: 100%;
}
@media (min-width: 320px) and (max-width: 632px){

    .menu {
        flex-direction: column;
        align-items: center;
        font-size:17px;
    }
    .image{
        background-image: url("Images/phone.jpg");
        height: 1000px;
        
    }
}

@media (min-width: 632px) and (max-width: 1328px){
    .image{
        background-image: url("Images/desktop.png");
    
    }

}
body{
    margin-top: 0%;
}